@import "tailwindcss";

@theme {
  --font-sans: 'Inter', sans-serif;

  --color-apple-gray: #f5f5f7;
  --color-apple-dark: #1d1d1f;
  --color-apple-blue: #0071e3;

  --animate-fade-in: fadeIn 1s ease-out;
  --animate-slide-up: slideUp 0.8s ease-out;
  --animate-blob: blob 7s infinite;

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @keyframes slideUp {
    0% {
      transform: translateY(20px);
      opacity: 0;
    }

    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes blob {
    0% {
      transform: translate(0px, 0px) scale(1);
    }

    33% {
      transform: translate(30px, -50px) scale(1.1);
    }

    66% {
      transform: translate(-20px, 20px) scale(0.9);
    }

    100% {
      transform: translate(0px, 0px) scale(1);
    }
  }
}

@utility text-gradient {
  @apply bg-clip-text text-transparent bg-linear-to-r from-gray-900 via-blue-800 to-gray-900;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-white text-apple-dark antialiased;
  }
}